*,
*::before,
*::after {
    box-sizing: border-box;
}

.products {
    background-color: #efeeea;
    display: flex;
    height: 100vh;
    width: 100%;
}

.left-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2rem;
    height: 100vh;
    width: 80%;
}

.right-box {
    height: 100vh;
    width: 20%;
    padding: 20px;
    background: white;
    overflow-y: auto;
}

.boxs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    text-align: center;
}
.boxs:hover{
    border: 5px solid #a88f3e;
}
.cart {
    background-color: #D4AF37;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;

}
h3{
    font-size: 28px;
}
.product-name{
    color: white;
}
.cart:hover {
    background-color: #B78E26;
}

.price {
    font-size: 16px;
    color: rgb(250, 250, 250);
    font-weight: bold;
    margin-bottom: 10px;
}

#cart-list {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.remove-btn:hover {
    background-color: darkred;
}
.box1{
    background-image: url(/image/pexels-vlada-karpovich-4452504.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.box2{
    background-image: url(/image/pexels-czapp-arpad-3647289-12163561.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.box3{
    background-image: url(/image/pexels-ferarcosn-190819.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.box4{
    background-image: url(/image/pexels-goumbik-928181.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.box5{
    background-image: url(/image/pexels-jessbaileydesign-735273.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.box6{
    background-image: url(/image/pexels-lalesh-147641.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.box7{
    background-image: url(/image/pexels-robert-bogdan-156165-910122.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.box8{
    background-image: url(/image/pexels-nitin-creative-46710.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.box9{
    background-image: url(/image/pexels-goumbik-915915.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}